<app-navigation></app-navigation>


<h2 style="text-align: center; margin: 50px 20px; letter-spacing: 35px;">Hoteles</h2>
<div style="text-align: center; padding: 20px;">
<button (click)="Registrar()" class="btn btn-primary"  >Registrar</button>
</div>
<h2 style="text-align: center; margin: 50px 20px; letter-spacing: 35px;">Habitaciones</h2>
<div style="text-align: center; padding: 20px;">
  <app-listar-habitacion></app-listar-habitacion>
  <button (click)="RegistrarHabitacion()" class="btn btn-primary"  >Registrar</button>
  </div>

<h2 style="text-align: center; margin: 50px 20px; letter-spacing: 35px;">Reservas</h2>
<div style="text-align: center; padding: 20px;">
  <button (click)="RegistrarReserva()" class="btn btn-primary"  >Registrar</button>
  </div>!


<router-outlet></router-outlet>
<app-footer></app-footer>