<app-navigation></app-navigation>

<H1 style="text-align: center;margin: 40px 0px;">Rogger Testeando</H1>
<h2 style="text-align: center; margin: 50px 20px; letter-spacing: 35px;">Hoteles</h2>
<div style="text-align: center; padding: 20px;">
<button (click)="Registrar()" class="btn btn-primary"  >Registrar</button>
</div>
<app-listar-hotel></app-listar-hotel>
<h2 style="text-align: center; margin: 50px 20px; letter-spacing: 35px;">Habitaciones</h2>


<app-footer></app-footer>

<router-outlet></router-outlet>
