<h2>Editar Reserva</h2>

<form (ngSubmit)="actualizarReserva()">
  <div class="form-group">
    <label for="fechaLlegada">Fecha de Llegada:</label>
    <input type="date" id="fechaLlegada" name="fechaLlegada" [(ngModel)]="reserva.fechaLlegada" required>
    <p>Fecha registrada: {{ reserva.fechaLlegada | date:'dd-MM-yyyy' }}</p>
  </div>
  <div class="form-group">
    <label for="fechaSalida">Fecha de Salida:</label>
    <input type="date" id="fechaSalida" name="fechaSalida" [(ngModel)]="reserva.fechaSalida" required>
  </div>
  <div class="form-group">
    <label for="numeroHabitaciones">Número de Habitaciones:</label>
    <input type="number" id="numeroHabitaciones" name="numeroHabitaciones" [(ngModel)]="reserva.numeroHabitaciones" required>
  </div>
  <div class="form-group">
    <label for="habitacion">Habitación:</label>
    <select id="habitacion" name="habitacion" [(ngModel)]="reserva.habitacion" required>
      <option [ngValue]="reserva.habitacion">{{ reserva.habitacion.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="usuario">Usuario:</label>
    <select id="usuario" name="usuario" [(ngModel)]="reserva.usuario" required>
      <option [ngValue]="reserva.usuario">{{ reserva.usuario.username }}</option>
    </select>
  </div>
  <button type="submit">Actualizar Reserva</button>
</form>