<h2>Registrar Habitación</h2>
<form action="" (ngSubmit)="registrarHabitacion()" enctype="multipart/form-data">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="habitacion.nombre" required>
  </div>

  <div class="form-group">
    <label for="numero">Número de Habitación:</label>
    <input type="number" id="numero" name="numero" [(ngModel)]="habitacion.numero" required>
  </div>
  <div class="form-group">
    <label for="tipo">Tipo de Habitación:</label>
    <select id="tipo" name="tipo" [(ngModel)]="habitacion.tipoHabitacion" required>
      <option selected disabled value="">Tipo Habitacion...</option>
      <option *ngFor="let tipo of tipohabitacion" [ngValue]="tipo">{{tipo.nombre_tipo}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="capacidad">Capacidad de Personas:</label>
    <input type="number" id="capacidad" name="capacidad" [(ngModel)]="habitacion.capacidad" required>
  </div>
  <div class="form-group">
    <label for="precio">Precio de Habitación:</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="habitacion.precio" required>
  </div>
  <div class="form-group">
    <label for="imagenInput">Elige la Imagen:</label>
    <input type="file" #imagenInputFile (change)="onFileChange($event)" name="imagen"
      accept="image/png, image/jpeg, image/jpg, image/gif">
  </div>
  <div class="form-group">
    <label for="estado">Disponibilidad:</label>
    <select id="estado" name="estado" [(ngModel)]="habitacion.estado" required>
      <option selected disabled value="">Seleccion la disponibilidad...</option>
      <option [ngValue]="true">Disponible</option>
      <option [ngValue]="false">No disponible</option>
    </select>
  </div>
  <div class="form-group">
    <label for="hotel">Hotel:</label>
    <select id="hotel" name="hotel" [(ngModel)]="habitacion.hotel" required>
      <option selected disabled value="">Selecciona el hotel...</option>
      <option *ngFor="let hot of hotel" [ngValue]="hot">{{ hot.nombre }}</option>
    </select>
  </div>
  <button type="submit">Registrar</button>
</form>
