<div class="container col-md-6">
  <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
          <h3>Agregar Hoteles</h3>
      </div>
      <div class="card-body">
          <form action="">
              <div class="form-group">
                  <label style="margin-top: 3px;" for="">Nombres</label>
                  <input style="margin-top: 5px;" type="text" class="form-control" [(ngModel)]="nuevoHotel.nombre" name="nombre">
              </div>
              <div class="form-group">
                <label style="margin-top: 3px;" for="">Ciudad</label>
                <input style="margin-top: 5px;" type="text" class="form-control" [(ngModel)]="nuevoHotel.ciudad"  name="ciudad">
            </div>
            <div class="form-group">
              <label style="margin-top: 3px;" for="">Direccion</label>
              <input style="margin-top: 5px;" type="text" class="form-control" [(ngModel)]="nuevoHotel.direccion"  name="direccion">
          </div>
          <div class="form-group">
            <label style="margin-top: 3px;" for="">Telefono</label>
            <input style="margin-top: 5px;" type="text" class="form-control" [(ngModel)]="nuevoHotel.telefono"  name="telefono">
        </div>
        <div class="form-group">
          <label style="margin-top: 3px;" for="">Url Imagen</label>
          <input style="margin-top: 5px;" type="text" class="form-control" [(ngModel)]="nuevoHotel.imagen"  name="imagen">
      </div>
              <div style="margin-top: 15px;">
              <button (click)="Guardar()" class="btn btn-danger">guardar</button>
              </div>
          </form>
      </div>
  </div>
</div>

