<footer class="bg-light pt-5 pb-4" data-bs-theme="light">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
        <hr class="mb-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis recusandae veritatis ipsum fugiat sapiente officiis.</p>
        <ul class="redes">
          <li>
              <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
              <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
              <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
              <a href="https://discord.gg/yqYR9T27"><i class="fab fa-discord"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Apartados</h5>
        <hr class="mb-4">
        <p>
          <a href="/">Inicio</a>
        </p>
        <p>
          <a href="/">Nosotros</a>
        </p>
        <p>
          <a href="/">Habitaciones</a>
        </p>
        <p>
          <a href="/">Contáctanos </a>
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Inicio</h5>
        <hr class="mb-4">
        <p><a href=""><i class="fa-brands fa-facebook"></i>Facebook</a></p>
        <p><a href=""><i class="fa-brands fa-instagram"></i>Instagram</a></p>
        <p><a href=""><i class="fa-brands fa-discord"></i>Discord</a></p>        
        <p><a href=""><i class="fa-brands fa-x-twitter"></i>X</a></p>
      </div>
    </div>
  </div>

</footer>

<p class="text-center">Copyright ©2023 Todos los derechos reservados | <a href="https://www.instagram.com/michelcruzof/" target="_blank">Powered By Maraví</a></p>